streamlit
numpy
pandas
plotly
pillow
matplotlib
huggingface-hub
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-community
faiss-cpu
requests
lxml
beautifulsoup4
pdfplumber
pymupdf
pypdf
python-docx
